<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %> 
<body>
    <%- include('../partials/headerProducts'); %> 
    <main class="main-container">
        <h1>Estoy en FLEX PRACTICA</h1>
        <h2>REGISTRO</h2>
        <h3>Crear Producto</h3>
        <section>
            <form action="/registroProductos" method="POST">
                <h3>REGISTRAR UN PRODUCTO.</h3>
                
                <label for="name">Nombre</label>
                <input class="field" type="text" name="name">
               <br>
               <label for="category">Categoria</label>
                <input class="field" type="text" name="category">
               <br>
               <label for="precio">Precio</label>
                <input class="field" type="number" name="precio">
               <br>
               <label for="descuento">Descuento</label>
                <input class="field" type="number" name="descuento">
               <br>
<!--                <label for="edad">Edad</label>
                <input type="text" name="edad">
                <br>
                <label for="email">Email</label>
                <input type="email" name="email">--> 
                <br>
                <input class="btn btn-enviar" type="submit" value="-ENVIAR-" >
                                                
            </form>
        </section>
    </main>
    <%- include('../partials/footer'); %> 
</body>
</html>