<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %> 
<body>
    <%- include('../partials/header'); %> 
    <main class="main-container">
        <h1>Estoy en FLEX PRACTICA</h1>
        <h2>Index</h2>
        <section class="secc_ultimas_visitas">
            <h3>Ultimas vistas!</h3>
                <div class="container_ultimas_visitas">
                    
                    <article class="articulo-individual">
                        <img src="/img/tabla-k4qubEK.png" alt="tabla-surf" width="360px"><!-- height="250px"> -->
                        <div class="articulo-descripcion"></div>
                            <i class="fa-solid fa-truck-fast"></i>
                            
                            <p class="articulo-precio">$450</p>
                            <p class="articulo-descuento">15%</p>
                            <h3>Tabla Surf</h3>
                        </div>
                    </article>
                    
                    <article class="articulo-individual">
                        <img src="/img/roca-sf76emp.png" alt="roca-surf_1" width="360px"> <!-- height="250px"> -->
                        <div class="articulo-descripcion"></div>
                            <i class="fa-solid fa-truck-fast"></i>
                            
                            <p class="articulo-precio">$450</p>
                            <p class="articulo-descuento">15%</p>
                            <h3>Roca Surf</h3>
                        </div>
                    </article>
                    <article class="articulo-individual">
                        <img src="/img/tiburon-RGqQuPS.png" alt="tiburon-surf" width="360px"><!-- height="250px"> -->
                        <div class="articulo-descripcion"></div>
                            <i class="fa-solid fa-truck-fast"></i>
                            
                            <p class="articulo-precio">$450</p>
                            <p class="articulo-descuento">15%</p>
                            <h3>Tiburon Surf</h3>
                        </div>
                    </article>
                    <article class="articulo-individual">
                        <img src="/img/tabla-k4qubEK.png" alt="tabla-surf" width="360px"><!-- height="250px"> -->
                        <div class="articulo-descripcion"></div>
                            <i class="fa-solid fa-truck-fast"></i>
                            
                            <p class="articulo-precio">$450</p>
                            <p class="articulo-descuento">15%</p>
                            <h3>Tabla Surf</h3>
                        </div>
                    </article>
                </div>
        </section>
        <section class="secc-ofertas">
            <h3>Ofertas</h3>
                <div class="container_ofertas">
                    
                    <img src="/img/homero_mono_1_ogxb6OU.jpg" alt="homero_mono_1" width="360px"> <!-- height="250px"> -->
                    <img src="/img/homero_mono_2_Egt5qy7.jpg" alt="homero_mono_2" width="360px"><!-- height="250px"> -->
                    <img src="/img/homero_mono_glXlrug.jpg" alt="homero_mono" width="360px"><!-- height="250px"> -->
                    
                    <img src="/img/f891qhc.jpg" alt="Homerosapiens" width="360px"><!-- height="250px"> -->
                </div>
        </section>
    </main>
    <%- include('../partials/footer'); %> 
</body>
</html>