<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head'); %> 
<body>
    <%- include('./partials/headerProducts'); %> 
    <main class="main-container">
        <h1>Estoy en FLEX PRACTICA</h1>
        <h2>Create</h2>
        <section>
            
        </section>
    </main>
    <%- include('./partials/footer'); %> 
</body>
</html>