<header class="main-header">
    <div class="main-header-top-bar">
        <img class="logo" src="/img/elefante_PngItem_457423.png" alt="Logo_elefante" width="320px">
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjetas de crédito</h2>
    </div>
    <a href="#" class="hamburguer-buttom">
        <i class="fas fa-bars"></i>
    </a>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="/">Inicio</a></li>
            <li><a href="products/listadoProductos">Productos</a></li>
            <li><a href="/registroProductos">Registro</a></li>
            <li><a href="/crearProductos">Crear</a></li>

            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
           
        </ul>
    </nav>
    
</header>