<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %> 
<body>
    <%- include('../partials/headerUsers'); %> 
    <main class="main-container">
        <h1>Estoy en FLEX PRACTICA</h1>
        <h2>USUARIOS</h2>
        <h3>Crear Usuario</h3>
        <p>Acá se reciben los datos del formulario de usuario</p>
    </main>
    <%- include('../partials/footer'); %> 
</body>
</html>